body {
    font-family: Arial, sans-serif;
    color: #333;
}

.advice-text {
    font-size: 20px;
}   

.list1b {
    margin: 20px 0 0;
    padding:0;
    list-style: none;
    counter-reset: li;
}
.list1b li {
    border: 2px solid #DDDDDD;
    background: #FAFAFA;
    position: relative;
    margin-bottom: 20px;
    padding: 16px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.list1b li:hover {
    z-index: 1;
    border: 2px solid #ADCEE9;
}
.list1b li:before {
    border: 2px solid #ADCEE9;
    position: absolute;
    top: -14px;
    padding: 2px 10px;
    font-size: 11px;
    font-weight: bold;
    color: #337AB7;
    background: #F7FAFD;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.list1b li:hover:before {
    border: 2px solid #337AB7;
    background: #337AB7;
    color: #FFF;
    -webkit-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    -o-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
}
.list1b li:after {
    content: "";
    position: absolute;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: width;
    transition-property: width;
    z-index: -1;
    background: #F0F5FB;
    height: 100%;
    left: 0;
    top: 0;
    width: 0;
}
.list1b li:hover:after {
    width: 100%;
}

.checked {
    text-decoration: line-through;
    color: gray;
}

.close {
    margin-left: 15px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    display: inline-block; 
    float: right;
}

li .close {
    text-decoration: none;
    color: red; 
}

.box {
    border: 2px solid gold;
}
.box-inner {
    font-size: 30px;
    color: green;
}

.hidden {
    opacity: 0;
}

.visible {
    display: inline-block;
    opacity: 1;
    animation: fadeIn 1s ease forwards;
}

.greeting {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting span {
    display: inline-block;
    opacity: 0;
    animation: fadeInLetter 0.5s ease forwards;
    animation-delay: calc(var(--i) * 0.1s);
}

@keyframes fadeInLetter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}





